.navbar {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  .logo {
    font-size: 2rem;
  }

  & ul {
    display: flex;
    gap: 1rem;
    list-style: none;

    & li a {
      font-family: sans-serif;
      text-decoration: none;
      font-size: 1rem;
      color: black;
      font-weight: bold;
    }
  }
}
